.col-sm-4 .article .article-img img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .col-sm-4 .article .article-img > a {
    height: 165px;
  }
  .col-sm-4 .article .article-img img {
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  .col-sm-4 .article .article-img > a {
    height: 139px;
  }
}

@media only screen and (min-width: 1200px) {
  .col-sm-4 .article .article-img > a {
    height: 172px;
  }
}
